body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;

}
.header{
  font-family: 'Italianno', sans-serif;                                              
  background-color: #B2AC88;
  /* background-color: #add8e6; */
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  padding: 10%;
  color: white;

}
/* Style tab links */
.tablink {
  background-color: #61b5d1;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 35px;
  width: 16.66666666666667%;
  height: 20%;
  position: sticky;
  top: 0%;
}

.tablink:hover {
  background-color: #734f96;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  background-color: #ffffff;
  display: none;
  padding: 100px 20px;
  height: 100%;

}
.text{
  margin-right: auto;
  margin-left: auto;
  
  font-family: 'Drakalligro', sans-serif;
  font-size: 30px;
                                                
}
.headline{
  font-family: 'Drakalligro', sans-serif;
  font-size: 60px;
}
.content{
  text-align: center;
  background-color: #538da0;
  padding: 5%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  border-style: solid;
  border-radius: 5%;
  color: #ffffff;
}
.Bulletin-img{
  max-width: 90%;
}
.church-outside{
  max-width: 70%;
  border-radius: 5%;
}
.bottom{
  
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #B2AC88;
    color: black;
    text-align: center;
    font-size: 20px;
    max-height: 10%;
  font-family: 'Drakalligro', sans-serif;

}
.bottom-contacts{
  
  position: absolute;left: 70%;
  background-color: white;
  border-radius: 5%;
  max-width: 20%;
  font-family: 'Drakalligro', sans-serif;
  font-size: 20px;

}
/* .body2{  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;} */



/* From Uiverse.io by vinodjangid07 */ 
.Btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.svgIcon {
  fill: rgb(214, 178, 255);
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid rgb(182, 143, 255);
  border-left: 2px solid rgb(182, 143, 255);
  border-right: 2px solid rgb(182, 143, 255);
}

.tooltip {
  position: absolute;
  right: -105px;
  opacity: 0;
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(12, 12, 12);
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  left: -5%;
  transition-duration: .3s;
}

.Btn:hover .tooltip {
  opacity: 1;
  transition-duration: .3s;
}

.Btn:hover {
  background-color: rgb(150, 94, 255);
  transition-duration: .3s;
}

.Btn:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.Btn:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}












@media only screen and (max-width: 576px) {

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;

}
.header{
  font-family: 'Italianno', sans-serif;                                              
  background-color: #B2AC88;
  /* background-color: #add8e6; */
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  padding: 10%;
  color: white;

}
/* Style tab links */
.tablink {
  background-color: #61b5d1;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 60%;
  width: 16.66666666666667%;

  height: 10%;
  position: sticky;
  top: 0%;
}

.tablink:hover {
  background-color: #734f96;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  background-color: #ffffff;
  display: none;
  padding: 100px 20px;
  height: 100%;

}
.text{
  margin-right: auto;
  margin-left: auto;
  
  font-family: 'Drakalligro', sans-serif;
  font-size: 80%;
                                                
}
.headline{
  font-family: 'Drakalligro', sans-serif;
  font-size: 150%;
}
.content{
  text-align: center;
  background-color: #538da0;
  padding: 1.5%;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 5%;
  border-style: solid;
  border-radius: 5%;
  color: #ffffff;
  max-width: 100%;
}
.Bulletin-img{
  max-width: 0%;
}
.church-outside{
  max-width: 70%;
  border-radius: 5%;
}
.bottom{
  
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #B2AC88;
    color: black;
    text-align: center;
    font-size: 100%;
    max-height: 10%;
  font-family: 'Drakalligro', sans-serif;
  padding: 5%;
  margin-bottom:0.1%

}
.bottom-contacts{
  position: absolute;left: 70%;
  background-color: white;
  border-radius: 5%;
  max-width: fit-content;
  font-family: 'Drakalligro', sans-serif;
  font-size: 100%;
}
.Contact_link{
  font-size: 60%; 
  
}

/* From Uiverse.io by vinodjangid07 */ 
.Btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.svgIcon {
  fill: rgb(214, 178, 255);
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid rgb(182, 143, 255);
  border-left: 2px solid rgb(182, 143, 255);
  border-right: 2px solid rgb(182, 143, 255);
}

.tooltip {
  position: absolute;
  right: -105px;
  opacity: 0;
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(12, 12, 12);
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  left: -5%;
  transition-duration: .3s;
}

.Btn:hover .tooltip {
  opacity: 1;
  transition-duration: .3s;
}

.Btn:hover {
  background-color: rgb(150, 94, 255);
  transition-duration: .3s;
}

.Btn:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.Btn:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}


}