{% extends "base.html" %}

{% block content %}

</head>
<header class="header">
  Coffeeville Church Of Christ
</header>
<body>
<button class="tablink active" onclick="openPage('Home', this, '#734f96')" id="home">Home</button>
<button class="tablink" onclick="openPage('News', this, '#734f96')" id="defaultOpen">Events</button>
<button class="tablink" onclick="openPage('About', this, '#734f96')">About</button>
<button class="tablink" onclick="openPage('Bulliton', this, '#734f96')">Bulletin</button>
<button class="tablink" onclick="openPage('Sermons', this, '#734f96')">Articles</button>
<button class="tablink" onclick="openPage('Contact', this, '#734f96')">Contact</button>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="Home" class="tabcontent" style="display: block;">
  <div class="content">
  
  <h class="headline">Welcome to the Coffeeville church of christ</h>
  <p class="text">COME AND JOIN US!<br><br>We have services every<br><br>
  

      <li>Sunday Bible Class: 10 AM</li>
    
      <li>Sunday Morning Servive: 11 AM</li>
  
      <li>Sunday Evening Service: 6 PM</li>
    
      <li>Wednesday Night Service: 6 PM</li>
    
    
  </p>
</div>

</div>

<div id="News" class="tabcontent">
  <div class="content">

  <h class="headline">Events</h>
  <p class="text">No upcoming events</p>
</div>

</div>
<div id="Contact" class="tabcontent">
  <div class="content">

  <h class="headline">Contact</h>
  
  <p class="text">Contact us here!<br>  <a class="Contact_link" href="https://mail.google.com/mail/u/3/#inbox?compose=jrjtXDztFtSpdLBpRNspqHVFwKcSQnMZhCwNSLsWlKlmkPcmJkVzcVHXdDMmclqCvrgVzHhM">Coffeevillecoc@hotmail.com</a>
</p>
</div>

</div>

<!-- <div id="Contact" class="tabcontent">
  <div class="content">

  <h class="headline">Contact</h>
  <p class="text">
  </p>
</div> -->

</div>

<div id="About" class="tabcontent">
  <div class="content">
    <img src="images/IMG_20250829_232453.jpg" class="church-outside"><br>
  <h class="headline">About</h>
  <p class="text">
  The congregation here at Coffeeville is a loving, kind, and dedicated in serving our Lord with all of our heart, soul, and strength (Deuteronomy 6:5). We believe that Jesus came on earth to die and save us from our sins. (John 3:16) Every day, our mission is to show God’s love to the world and teach it in truth and love. (Matthew 5:16 and Ephesians 4:15) We hold the Bible to be the Holy Word of God and practice the pattern set for us at the foundation of the Church in Acts 2.</p>
</div>

</div>

<div id="Sermons" class="tabcontent">
  <div class="content">

  <h class="headline">Articles</h>
  <p class="text">
  No current articles</p>
  </div>

</div>



<div id="Bulliton" class="tabcontent"><br>
  <div class="content">
  <h class="headline">Bulletin</h>
  
    <img src="images/Coffeeville CoC Church Bulletin  (11)-1.png" class="Bulletin-img"><br>
    
    <a href="images/Coffeeville CoC Church Bulletin  (11).pdf"><p>Download this weeks Bulletin here!!</p>
    <!-- <button class="Btn">
   <svg class="svgIcon" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path></svg>
   <span class="icon2"></span>
   <span class="tooltip">Download</span>
</button> -->
</a>
</div>
</div>
<!-- <footer class="bottom">
  <div class="bottom-contacts">
  <p>Contact </p>
  <a class="Contact_link" href="https://mail.google.com/mail/u/3/#inbox?compose=jrjtXDztFtSpdLBpRNspqHVFwKcSQnMZhCwNSLsWlKlmkPcmJkVzcVHXdDMmclqCvrgVzHhM">Coffeevillecoc@hotmail.com</a>

 
  </div>
</footer>
 
  </body> -->

</html>


{% endblock content %}
